body {
	background : #eee;
	font-family: Tahoma, Verdana, Arial;
	font-size: 11pt;
	margin: 50px;
}
#tree_content {
	width: 500px;
	max-height: 500px;
	height: 500px;
	overflow: auto;
	background-color: white;
}
td {
	border: 1px solid black;
}

ul.custom-tree-root li{
	list-style-type: none;
	display: block;
}
ul.custom-tree-root li span.control{
	cursor: pointer;
	margin: 0px 7px 0px 3px;
	padding: 0px 1px 0px 1px;
}
ul.custom-tree-root li span.heading{
	cursor: pointer;
}
ul.custom-tree-root li span.selected{
	background: #C0C0C0;
	padding: 0px 1px 0px 3px;
}
ul.custom-tree-root li span.hover, ul.custom-tree-root li span.selected.hover{
	background: #ECECEC;
	padding: 0px 1px 0px 3px;
}
.custom-tree-root ul.custom-tree-root li span.heading.loader{
    padding: 0px 1px 0px 28px;
	background-image: url("loader-slider.gif");
    background-repeat: no-repeat;
}
.preloader{
	background-image: url("loader-circle.gif");
    background-repeat: no-repeat;
}
